@import "../../variables.scss";

ul {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  // font-weight: 400;
  list-style: none;
  // font-size: 2em;
  font-family: $font-family;
  font-size: 1em;
  color: $primary-color;
}

// @media screen and (max-width: 425px) {
//   ul {
//     font-size: 10px;
//   }
// }
// .filterItem {
//   // display: flex;
//   // flex-direction: row;
//   // align-content: space-between;
// }
