@import "../../variables.scss";

ul {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  // font-weight: 400;
  list-style: none;
  // font-size: 2em;
  font-family: $font-family;
  font-size: 15px;
  color: $primary-color;
}

// .filterItem {
//   // display: flex;
//   // flex-direction: row;
//   // align-content: space-between;
// }
