.FilterItem {
  border: 2px solid purple;
  height: 150px;
  overflow: hidden;
  padding: 0;
  width: 100px;
}

ul {
  color: red;
  font-size: small;
  text-decoration: none;
}

// .CheckBox {
//   height: 100px;
//   width: 100px;
//   border: solid 2px brown;
// }
