@import "../../variables.scss";
.CardList {
  //   max-width: 100vw;
  display: grid;
  //   flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: $base-spacing * 2;
  grid-row-gap: 2px;
  //   grid-column-gap: 20px;
  justify-content: space-around;
  min-height: 100%;
  padding: $base-spacing * 1;
  margin-top: 35px;
}

@media only screen and (min-width: 768px) {
}
