@import "../../variables.scss";

.FilterList {
  list-style: none;
  font-size: 1em;
  font-family: $font-family;
  color: $primary-color;
  padding-right: 4px;
}

.filter {
  font-size: 1em;
  font-family: $secondary-font-family;
  color: $primary-color;
  padding-left: 2.3em;
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
  .filter {
    font-size: 0.8em;
    font-family: $secondary-font-family;
    color: $primary-color;
    padding-left: 1em;
  }
  .FilterList {
    list-style: none;
    font-size: 0.9em;
    font-family: $font-family;
    color: $primary-color;
  }
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
  .filter {
    font-size: 1.3em;
    font-family: $secondary-font-family;
    color: $primary-color;
    padding-left: 1em;
  }
  .FilterList {
    list-style: none;
    font-size: 0.8em;
    font-family: $font-family;
    color: $primary-color;
  }
}

@media only screen and (min-width: 425px) and (max-width: 480px) {
  .filter {
    font-size: 1.3em;
    font-family: $secondary-font-family;
    color: $primary-color;
    padding-left: 1em;
  }
  .FilterList {
    list-style: none;
    font-size: 0.8em;
    font-family: $font-family;
    color: $primary-color;
  }
}
// @media screen and (max-width: 425px) {
//   .filter {
//     font-size: 1em;
//     font-family: $secondary-font-family;
//     color: $primary-color;
//     padding-left: 0.3em;
//   }
//   .FilterList {
//     list-style: none;
//     font-size: 1em;
//     font-family: $font-family;
//     color: $primary-color;
//     padding-right: 0px;
//   }
// }
