@import "../../variables.scss";

.card {
  max-height: 400px;
  max-width: 275px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
  border: solid 2px black;
  backface-visibility: hidden;
  background-color: white;
  margin: 20px;
}

img {
  height: 50%;
  width: 50%;
  border-radius: 2px 2px 0 0;
}

.beerDetails {
  height: 40%;
  width: 100%;
  padding: $base-spacing * 4;
  border-top: none;
  border-radius: 0 2px 2px 0;
  display: flex;
  flex-direction: column;
  padding-top: $base-spacing * 2;
}

h2 {
  color: $primary-color;
  font-size: 1.3 rem;
  margin-bottom: $base-spacing;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

p {
  color: $secondary-text;
  margin-bottom: $base-spacing * 2;
}
