@import "../../variables.scss";

// .beerCard {
//   // display: flex;
//   // flex-direction: column;
//   // align-items: center;
//   // max-height: 200em;
//   // max-width: 300em;
//   // margin-bottom: 10px;
//   border-radius: 5px;
//   box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
//   // border: solid 2px black;
//   backface-visibility: hidden;
//   background-color: white;
//   height: 100%;
//   width: 100%;
//   transition: transform 1s;
//   transform-style: preserve-3d;
//   perspective: 600px;
//   position: relative;
//   z-index: 0;
//   // float: right;
//   height: 100%;
//   width: 100%;
//   // padding-top: 1em;
//   height: 400px;
//   width: 275px;

//   &.faceDown {
//     transform: rotateY(180deg);
//   }

.beerCard {
  text-align: center;
  background-color: transparent;
  transition: transform 1s;
  transform-style: preserve-3d;
  perspective: 600px;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
  background-color: transparent;
  width: 300px;
  height: 400px;

  &:hover {
    box-shadow: 0 4px 7px rgb(9, 194, 194);
  }

  &.faceDown {
    transform: rotateY(180deg);
  }

  .front {
    // @extend %card!optional;
    // width: 100%;
    // height: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    background-color: ghostwhite;
    border-radius: 10px;
  }

  .back {
    // @extend %card!optional;
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: ghostwhite;

    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
}
