@import "../../variables.scss";

.searchBar {
  list-style: none;
  font-size: 1em;
  font-family: $font-family;
  padding-left: 10em;
  padding-top: 4em;
}

input {
  color: rgb(9, 194, 194);
  border: $primary-color;
  border-radius: 8px;
  max-width: 200px;
}

.fa {
  font-size: 3em;
  color: $secondary-color;
  padding-right: 70px;
}

.searchTitle {
  padding-right: 1px;
  color: $secondary-color;
}
@media screen and (max-width: 425px) {
  .searchBar {
    font-size: 0.5em;
    padding-left: 0em;
    padding-top: 0em;
  }
  .fa {
    font-size: 3em;
    color: $secondary-color;
    padding-right: 4px;
    padding-top: 4em;
  }
}
