@import "../../variables.scss";

.nav {
  display: flex;
  flex-direction: column;
  font-family: $font-family;
  float: left;
  max-width: 30%;
  margin-bottom: 10px;
  border-radius: $border-rounding;
  margin: 20px;
}

.title {
  font-size: 2.5em;
  color: $secondary-color;
  text-align: center;
  padding-bottom: 25px;
  background-color: $primary-color;
  padding-top: 25px;
  border-radius: $border-rounding;
  box-shadow: $card-shadowing;
  border: $primary-border;
  font-family: $font-family;
}

.homeLink {
  font-size: 1em;
  color: rgb(9, 194, 194);
  font-family: $font-family;
  text-decoration: none;
  background-color: rgb(9, 194, 194);
  padding-right: 1em;
  padding-left: 2em;
}

.search {
  width: 1em;
  font-size: 1em;
  padding-bottom: 1em;
}
.searchPanel {
  background-color: rgb(9, 194, 194);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.favouritesLink {
  font-size: 1em;
  color: rgb(9, 194, 194);
  font-family: $font-family;
  text-decoration: none;
  background-color: rgb(9, 194, 194);
  padding-bottom: 1em;
  padding-left: 2em;
}

@media only screen and (min-width: 319px) and (max-width: 374px) {
  .title {
    font-size: 1.2em;
  }
  .nav {
    display: flex;
    flex-direction: column;
    font-family: $font-family;
    max-width: 40%;
    margin-bottom: 10px;
    border-radius: $border-rounding;
    margin: 0px;
  }
  .searchPanel {
    background-color: rgb(9, 194, 194);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .homeLink {
    font-size: 1em;
    color: rgb(9, 194, 194);
    font-family: $font-family;
    text-decoration: none;
    background-color: rgb(9, 194, 194);
    padding-right: 1em;
    padding-left: 2em;
  }

  .favouritesLink {
    font-size: 1em;
    color: rgb(9, 194, 194);
    font-family: $font-family;
    text-decoration: none;
    background-color: rgb(9, 194, 194);
    padding-right: 0.5em;
    padding-left: 2em;
  }
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
  .title {
    font-size: 1.2em;
  }
  .nav {
    display: flex;
    flex-direction: column;
    font-family: $font-family;
    max-width: 40%;
    margin-bottom: 10px;
    border-radius: $border-rounding;
    margin: 0px;
  }
  .searchPanel {
    background-color: rgb(9, 194, 194);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .homeLink {
    font-size: 1em;
    color: rgb(9, 194, 194);
    font-family: $font-family;
    text-decoration: none;
    background-color: rgb(9, 194, 194);
    padding-right: 1em;
    padding-left: 2em;
  }

  .favouritesLink {
    font-size: 1em;
    color: rgb(9, 194, 194);
    font-family: $font-family;
    text-decoration: none;
    background-color: rgb(9, 194, 194);
    padding-right: 0.5em;
    padding-left: 2em;
  }
}
@media only screen and (min-width: 425px) and (max-width: 480px) {
  .title {
    font-size: 1.2em;
  }
  .nav {
    display: flex;
    flex-direction: column;
    font-family: $font-family;
    max-width: 40%;
    margin-bottom: 10px;
    border-radius: $border-rounding;
    margin: 0px;
  }
  .searchPanel {
    background-color: rgb(9, 194, 194);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .homeLink {
    font-size: 1em;
    color: rgb(9, 194, 194);
    font-family: $font-family;
    text-decoration: none;
    background-color: rgb(9, 194, 194);
    padding-right: 1em;
    padding-left: 2em;
  }

  .favouritesLink {
    font-size: 1em;
    color: rgb(9, 194, 194);
    font-family: $font-family;
    text-decoration: none;
    background-color: rgb(9, 194, 194);
    padding-right: 0.5em;
    padding-left: 2em;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .title {
    font-size: 1.8em;
  }

  .nav {
    display: flex;
    flex-direction: column;
    font-family: $font-family;
    max-width: 40%;
    margin-bottom: 10px;
    border-radius: $border-rounding;
    margin: 0px;
  }
  .searchPanel {
    background-color: rgb(9, 194, 194);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .homeLink {
    font-size: 1em;
    color: rgb(9, 194, 194);
    font-family: $font-family;
    text-decoration: none;
    background-color: rgb(9, 194, 194);
    padding-right: 1em;
    padding-left: 2em;
  }

  .favouritesLink {
    font-size: 1em;
    color: rgb(9, 194, 194);
    font-family: $font-family;
    text-decoration: none;
    background-color: rgb(9, 194, 194);
    padding-right: 0.5em;
    padding-left: 2em;
  }
}
body {
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2309c2c2' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.searchPanel {
  background-color: $primary-color;
}

.FilterList {
  align-items: flex-end;
  border: $primary-border;
  border-radius: $border-rounding;
  color: $secondary-color;
  background-color: $secondary-color;
}
