@import "../../variables.scss";

.nav {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  float: left;
  height: 100vh;
  max-width: 20%;
  margin-bottom: 10px;
  border-radius: 5px;
  // box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
  // border: solid 2px green;
  backface-visibility: hidden;
  background-color: white;
  margin: 20px;

  .backgroundImage {
    height: 1000px;
    width: 1000px;
    border: solid 2px blue;
  }
}

h1 {
  font-size: 80px;
  color: rgb(36, 36, 36);
  text-align: center;
}

.backgroundImage {
  height: 300px;
  width: 300px;
}
