@import "../../variables.scss";

.checkbox {
  // color: $primary-color;
  color: rgb(9, 194, 194);
  font-size: 1.3rem;
  padding-right: 1em;

  &:hover {
    // color:
    color: rgb(9, 194, 194);
  }
}
