@import "../../variables.scss";

.cardBack {
  padding: $base-spacing * 4;
  position: relative;
}
.description {
  padding-top: 2em;
  font-size: 1em;
  max-width: 90%;
  margin-bottom: $base-spacing * 3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 2em;
  font-family: $font-family;
}

.heart {
  position: absolute;
  top: $base-spacing * 4;
  right: $base-spacing * 4;
  color: $primary-color;
  font-size: 1.3rem;

  &:hover {
    color: red;
  }
}

.beername,
.beerdescription {
  color: $primary-color;
}
.beername {
  padding-top: 3em;
  font-size: 1.3rem;
  text-overflow: ellipsis;
  max-width: 90%;
  margin-bottom: $base-spacing * 2;
  overflow: hidden;
  margin-left: 1em;
  margin-right: 1em;
}

.beerdescription {
  font-size: 1.1rem;
  margin-bottom: $base-spacing;
  border: $primary-border;
  border-radius: 30px;
  width: 100px;
  margin-left: 4.5em;
  background-color: $primary-color;
  color: $secondary-color;
}

.descriptiontext {
  text-align: justify;
  color: $secondary-text;
  margin-bottom: $base-spacing * 2;
}

@media only screen and (min-width: 319px) and (max-width: 374px) {
  .cardBack {
    padding: $base-spacing * 4;
    position: relative;
  }
  .description {
    padding-top: 2em;
    font-size: 1em;
    max-width: 90%;
    margin-bottom: $base-spacing * 3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 2em;
    font-family: $font-family;
  }

  .heart {
    position: absolute;
    top: $base-spacing * 4;
    right: $base-spacing * 4;
    color: $primary-color;
    font-size: 1.3rem;

    &:hover {
      color: red;
    }
  }

  .beername,
  .beerdescription {
    color: $primary-color;
  }
  .beername {
    padding-top: 3em;
    font-size: 1.3rem;
    text-overflow: ellipsis;
    max-width: 90%;
    margin-bottom: $base-spacing * 2;
    overflow: hidden;
    margin-left: 1em;
    margin-right: 1em;
  }

  .beerdescription {
    font-size: 1.1rem;
    margin-bottom: $base-spacing;
    border: $primary-border;
    border-radius: 30px;
    width: 100px;
    margin-left: 4.5em;
    background-color: $primary-color;
    color: $secondary-color;
  }

  .descriptiontext {
    text-align: justify;
    color: $secondary-text;
    margin-bottom: $base-spacing * 2;
  }
}
@media only screen and (min-width: 375px) and (max-width: 424px) {
  .cardBack {
    padding: $base-spacing * 4;
    position: relative;
  }
  .description {
    padding-top: 2em;
    font-size: 1em;
    max-width: 90%;
    margin-bottom: $base-spacing * 3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 2em;
    font-family: $font-family;
  }

  .heart {
    position: absolute;
    top: $base-spacing * 4;
    right: $base-spacing * 4;
    color: $primary-color;
    font-size: 1.3rem;

    &:hover {
      color: red;
    }
  }

  .beername,
  .beerdescription {
    color: $primary-color;
  }
  .beername {
    padding-top: 3em;
    font-size: 1.3rem;
    text-overflow: ellipsis;
    max-width: 90%;
    margin-bottom: $base-spacing * 2;
    overflow: hidden;
    margin-left: 1em;
    margin-right: 1em;
  }

  .beerdescription {
    font-size: 1.1rem;
    margin-bottom: $base-spacing;
    border: $primary-border;
    border-radius: 30px;
    width: 100px;
    margin-left: 4.5em;
    background-color: $primary-color;
    color: $secondary-color;
  }

  .descriptiontext {
    text-align: justify;
    color: $secondary-text;
    margin-bottom: $base-spacing * 2;
  }
}

@media only screen and (min-width: 425px) and (max-width: 480px) {
  .cardBack {
    padding: $base-spacing * 4;
    position: relative;
  }
  .description {
    padding-top: 2em;
    font-size: 1em;
    max-width: 90%;
    margin-bottom: $base-spacing * 3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 2em;
    font-family: $font-family;
  }

  .heart {
    position: absolute;
    top: $base-spacing * 4;
    right: $base-spacing * 4;
    color: $primary-color;
    font-size: 1.3rem;

    &:hover {
      color: red;
    }
  }

  .beername,
  .beerdescription {
    color: $primary-color;
  }
  .beername {
    padding-top: 3em;
    font-size: 1.3rem;
    text-overflow: ellipsis;
    max-width: 90%;
    margin-bottom: $base-spacing * 2;
    overflow: hidden;
    margin-left: 1em;
    margin-right: 1em;
  }

  .beerdescription {
    font-size: 1.1rem;
    margin-bottom: $base-spacing;
    border: $primary-border;
    border-radius: 30px;
    width: 100px;
    margin-left: 4.5em;
    background-color: $primary-color;
    color: $secondary-color;
  }

  .descriptiontext {
    text-align: justify;
    color: $secondary-text;
    margin-bottom: $base-spacing * 2;
  }
}
