@import "../../variables.scss";

.cardBack {
  padding: $base-spacing * 4;
  position: relative;

  // -webkit-backface-visibility: hidden;
  // backface-visibility: hidden;
  // object-fit: cover;
  // width: 100%;
  // height: 100%;

  .description {
    padding-top: 2em;
    font-size: 1em;
    max-width: 90%;
    margin-bottom: $base-spacing * 3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 2em;
  }

  .heart {
    position: absolute;
    top: $base-spacing * 4;
    right: $base-spacing * 4;
    color: $primary-color;
    font-size: 1.3rem;

    &:hover {
      color: $secondary-color;
    }
  }

  h2,
  h3 {
    color: $primary-color;
  }

  h2 {
    padding-top: 3em;
    font-size: 1.3rem;
    text-overflow: ellipsis;
    max-width: 90%;
    margin-bottom: $base-spacing * 2;
    // white-space: nowrap;
    overflow: hidden;
    // text-overflow: ellipsis;
    margin-left: 1em;
    margin-right: 1em;
  }

  h3 {
    font-size: 1.1rem;
    margin-bottom: $base-spacing;
    border: solid 2px rgb(9, 194, 194);
    border-radius: 30px;
    width: 100px;
    margin-left: 4.5em;
    background-color: rgb(9, 194, 194);
    color: white;
  }

  // .list {
  //   height: 100px;
  // }

  p {
    text-align: justify;
    color: $secondary-text;
    margin-bottom: $base-spacing * 2;
  }
}
